        @font-face {
            font-family: glide_font;
            src: url(Bayoreh.otf);  
        }
        a { 
            color: #666766;
        }
        /*---------NAVIGATION---------*/
        /*logobar--ul = nav_left_elements*/
        .logo_bar {
            height: 75px;
            border-bottom: 1px dotted darkred;
            /* background-color: rgba(255,255,255,0.8); */
            background-color: white;
            position: absolute;
            top: 0; left: 0;
            width: 100%;
        }
        .logo_left_elements {
            display: inline-block;
            /* float: left; */
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        .logo_left_elements li {
            float: left;
            height: 75px;
        }
        .logo_left_elements h2 { 
            margin-top: 40px;
            margin-left: 8px;
        }
        .logo_right_elements {
            float: right;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        .logo_right_elements li {
            float: right;
            height: 75px;
        }
        .logo_right_elements h3 { 
            margin-top: 44px;
            margin-right: 8px;
        }
        .logo_right_elements img{ 
            margin-top: 19px;
            margin-right: 5px;
            max-width: 35px;
        }
        /*navbar--ul = nav_left_elements*/
        .nav_left_elements { 
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            border-bottom: 1px solid darkred;
            /* background-color: rgba(255,255,255,0.8); */
            background-color: white;
        }
        .nav_elements { 
            margin-top: 71px;
            width: 100%;
            position: absolute;
            top: 5;
            left: 0;
        }
        .nav_left_elements li {
            float: left;
        }
        .nav_left_elements a {
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        .nav_left_elements a {
            margin-left: 5px;
        }
        .nav_left_elements a:hover {
            background-color: #FFD520;
        }
        body { 
            background-color: rgb(202, 202, 202);
            font-family: glide_font;
        }
        .contain { /*For Main Page */
            display: flex;
            /* flex-wrap: wrap; */
            height: 800px;
            /* border: 2px solid black; */
            margin-top: 122px;
            margin-left: 5vh;
            margin-right: 5vh;
            /* background-color: rgb(251, 253, 255); */
            background-color: white;
        }

        .container { /*Other Pages */
            width: 80%;
            margin: auto;
            background-color: rgba(255,255,255,0.8);
            /* background-color: white; */
            padding: 10px;
            border-right: 1px dotted darkred;
            border-left: 1px dotted darkred;
        }

        #posts_bar { 
            width: 350px;
            max-width: 100%;
            /* border-right: 1px dotted aliceblue; */
            overflow: scroll;

        }
        #posts_bar h3, #posts_bar p {  /* temporary. When functional have posts upload as divs probably*/
            width: 100%;
            padding-left: 1em;
        }

        /* TODO */
        /* ADD ABOUT US PAGE AND HIDE MAIN CONTENT ON MOBILE */
        #main_content { 
            width: 100%;
            padding: 5px;
            /* border: 2px solid salmon;  DEBUGGING*/
        }

        #users {
            border-collapse: collapse;
            width: 100%;
            max-width: 100%;
          }
          
          #users td, #users th {
            border: 1px solid #ddd;
            padding: 8px;
          }
          
          #users tr:nth-child(even){background-color: #f2f2f2;}
          #users tr:nth-child(odd){background-color: #cfcfcf;}

          
          #users tr:hover {background-color: rgb(221, 221, 221);}
          
          #users th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: darkred;
            color: rgb(240, 240, 240);
          }